ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-inline-start: 0;
  gap: 16px;
  list-style: none;
  font-size: larger;
}

a {
  color: white;
  text-decoration: none;
}
