ul {
  display: flex;
  padding-inline: 16px;
  padding-block: 8px;
  margin: 0%;
  background-color: #333;
  color: white;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}
