html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header {
  height: 100px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 64px;
}

.content {
  padding-inline: 50px;
  padding-block-start: 16px;
  padding-block-end: 50px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-block-end: 16px;
}
.map-container {
  width: 400px !important;
  height: 600px !important;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}

.airports {
  width: 100%;
}

.flights {
  width: 100%;
}

.flights-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-inline-start: 0px;
}

.textContainer {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .aside {
    display: none;
  }
}
